PerculusSDK/Service References/Users/users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.perculus.com/api/v2/users" xmlns:s1="http://www.perculus.com/api/v2/datatypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.perculus.com/api/v2/users" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.perculus.com/api/v2/users">
      <s:import namespace="http://www.perculus.com/api/v2/datatypes" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:xmlData" />
        </s:sequence>
        <s:attribute name="code" type="s:int" use="required" />
        <s:attribute name="success" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROOMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SESSIONNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ADDDATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BEGINDATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DURATION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LANGUAGEFILE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SOUND_RATE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VIDEO_QUALITY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VIDEO_BANDWIDTH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MEDIASERVER_IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REQUIRESLOGIN" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSKEY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEND_PASSKEY" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="COMPANYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CATEGORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEND_ICS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="INREPLAYMODE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="REPLAYSIZE" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="COLORCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_ALLOW" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_TYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_CAPACITY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLASHFILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMGUID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STREAMCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STARTACTIVE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="USERRIGHTSCHEMA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERMITTEDSYSTEMLAYOUTS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEFAULTLAYOUTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERADDED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERMODIFIED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEMODIFIED" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Session">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moduleSettings" type="tns:ArrayOfModuleSetting" />
          <s:element minOccurs="0" maxOccurs="1" name="sessionName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sessionMode" type="tns:SessionMode" />
          <s:element minOccurs="1" maxOccurs="1" name="beginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="webServerGMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sessionLogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="languageFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sessionStyleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="activeLayoutId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mediaServerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="colorCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="startActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SessionUserInfo" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfModuleSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="setting" nillable="true" type="tns:ModuleSetting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModuleSetting">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="mname" type="s:string" />
            <s:attribute name="key" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="SessionMode">
        <s:restriction base="s:string">
          <s:enumeration value="live" />
          <s:enumeration value="playback" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SessionUserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Poll">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="timeLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:PollStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="publicResults" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:PollType" />
          <s:element minOccurs="0" maxOccurs="1" name="choices" type="tns:ArrayOfPollOption" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
        <s:attribute name="rid" type="s:int" use="required" />
      </s:complexType>
      <s:simpleType name="PollStatus">
        <s:restriction base="s:string">
          <s:enumeration value="open" />
          <s:enumeration value="apply" />
          <s:enumeration value="close" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PollType">
        <s:restriction base="s:string">
          <s:enumeration value="single" />
          <s:enumeration value="multi" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPollOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="choice" nillable="true" type="tns:PollOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PollOption">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="id" type="s:int" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="USERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SURNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAILADDRESS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COMPANYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="USERGROUP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EXPIRES" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LOGINALLOWED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="INTG_EXTRA_STRING1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INTG_EXTRA_STRING2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_SID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_SAMACCOUNTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_DOMAIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CULTURE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USERADDED" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERMODIFIED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEMODIFIED" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEADDED" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GROUPS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PollResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="user" type="tns:UserVote" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="UserVote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="answers" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="voteDuration" type="s:int" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="NewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userGroup" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userGroup" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUser_NoMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userGroup" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraString2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUser_NoMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveInstructors">
        <s:complexType />
      </s:element>
      <s:element name="GetActiveInstructorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUserByEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUserByEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUserByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUserByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewUser_Mass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userList" type="tns:ArrayOfLimitedUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLimitedUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LimitedUser" nillable="true" type="tns:LimitedUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LimitedUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtraString1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtraString2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoMail" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewUser_MassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUserImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUserImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.perculus.com/api/v2/datatypes">
      <s:element name="xmlData">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="NewUserSoapOut">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="NewUserAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="NewUser_NoMailSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser_NoMail" />
  </wsdl:message>
  <wsdl:message name="NewUser_NoMailSoapOut">
    <wsdl:part name="parameters" element="tns:NewUser_NoMailResponse" />
  </wsdl:message>
  <wsdl:message name="NewUser_NoMailAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetActiveInstructorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveInstructors" />
  </wsdl:message>
  <wsdl:message name="GetActiveInstructorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveInstructorsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="QueryUserByEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUserByEmailAddress" />
  </wsdl:message>
  <wsdl:message name="QueryUserByEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUserByEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="QueryUserByEmailAddressAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="QueryUserByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUserByUsername" />
  </wsdl:message>
  <wsdl:message name="QueryUserByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="QueryUserByUsernameAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="NewUser_MassSoapIn">
    <wsdl:part name="parameters" element="tns:NewUser_Mass" />
  </wsdl:message>
  <wsdl:message name="NewUser_MassSoapOut">
    <wsdl:part name="parameters" element="tns:NewUser_MassResponse" />
  </wsdl:message>
  <wsdl:message name="NewUser_MassAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="PostUserImageSoapIn">
    <wsdl:part name="parameters" element="tns:PostUserImage" />
  </wsdl:message>
  <wsdl:message name="PostUserImageSoapOut">
    <wsdl:part name="parameters" element="tns:PostUserImageResponse" />
  </wsdl:message>
  <wsdl:message name="PostUserImageAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="UsersSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <wsdl:input message="tns:NewUserSoapIn" />
      <wsdl:output message="tns:NewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUser_NoMail">
      <wsdl:input message="tns:NewUser_NoMailSoapIn" />
      <wsdl:output message="tns:NewUser_NoMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input message="tns:ForgotPasswordSoapIn" />
      <wsdl:output message="tns:ForgotPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveInstructors">
      <wsdl:input message="tns:GetActiveInstructorsSoapIn" />
      <wsdl:output message="tns:GetActiveInstructorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserByEmailAddress">
      <wsdl:input message="tns:QueryUserByEmailAddressSoapIn" />
      <wsdl:output message="tns:QueryUserByEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUserByUsername">
      <wsdl:input message="tns:QueryUserByUsernameSoapIn" />
      <wsdl:output message="tns:QueryUserByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUser_Mass">
      <wsdl:input message="tns:NewUser_MassSoapIn" />
      <wsdl:output message="tns:NewUser_MassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostUserImage">
      <wsdl:input message="tns:PostUserImageSoapIn" />
      <wsdl:output message="tns:PostUserImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersSoap" type="tns:UsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/NewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:NewUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser_NoMail">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/NewUser_NoMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:NewUser_NoMailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ForgotPasswordAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangePasswordAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveInstructors">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/GetActiveInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetActiveInstructorsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserByEmailAddress">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/QueryUserByEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryUserByEmailAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserByUsername">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/QueryUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryUserByUsernameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser_Mass">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/NewUser_Mass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:NewUser_MassAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUserImage">
      <soap:operation soapAction="http://www.perculus.com/api/v2/users/PostUserImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PostUserImageAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersSoap12" type="tns:UsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/NewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:NewUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateUserAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser_NoMail">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/NewUser_NoMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:NewUser_NoMailAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/ForgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ForgotPasswordAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangePasswordAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveInstructors">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/GetActiveInstructors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetActiveInstructorsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserByEmailAddress">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/QueryUserByEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryUserByEmailAddressAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUserByUsername">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/QueryUserByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryUserByUsernameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser_Mass">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/NewUser_Mass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:NewUser_MassAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUserImage">
      <soap12:operation soapAction="http://www.perculus.com/api/v2/users/PostUserImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PostUserImageAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Users">
    <wsdl:port name="UsersSoap" binding="tns:UsersSoap">
      <soap:address location="http://app.perculus.com/api/v2/users.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersSoap12" binding="tns:UsersSoap12">
      <soap12:address location="http://app.perculus.com/api/v2/users.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>