PerculusSDK/Service References/Reports/reports.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://www.perculus.com/api/v2/datatypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.perculus.com/api/v2/datatypes" />
      <s:element name="Attendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:xmlData" />
        </s:sequence>
        <s:attribute name="code" type="s:int" use="required" />
        <s:attribute name="success" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="Session">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="moduleSettings" type="tns:ArrayOfModuleSetting" />
          <s:element minOccurs="0" maxOccurs="1" name="sessionName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sessionMode" type="tns:SessionMode" />
          <s:element minOccurs="1" maxOccurs="1" name="beginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="webServerGMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sessionLogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="languageFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sessionStyleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="activeLayoutId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mediaServerIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="colorCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="startActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:SessionUserInfo" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfModuleSetting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="setting" nillable="true" type="tns:ModuleSetting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModuleSetting">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="mname" type="s:string" />
            <s:attribute name="key" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="SessionMode">
        <s:restriction base="s:string">
          <s:enumeration value="live" />
          <s:enumeration value="playback" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SessionUserInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ROOMID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SESSIONNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ADDDATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BEGINDATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DURATION" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LANGUAGEFILE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SOUND_RATE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VIDEO_QUALITY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VIDEO_BANDWIDTH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MEDIASERVER_IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="REQUIRESLOGIN" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSKEY" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEND_PASSKEY" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="COMPANYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CATEGORY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SEND_ICS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="INREPLAYMODE" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="REPLAYSIZE" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="COLORCODE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_ALLOW" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_TYPE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FORMENROLL_CAPACITY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLASHFILE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROOMGUID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="STREAMCOUNT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STARTACTIVE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="USERRIGHTSCHEMA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PERMITTEDSYSTEMLAYOUTS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DEFAULTLAYOUTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERADDED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERMODIFIED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEMODIFIED" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PollResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="user" type="tns:UserVote" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="UserVote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="answers" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="voteDuration" type="s:int" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="USERID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SURNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMAILADDRESS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COMPANYID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="USERGROUP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EXPIRES" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LOGINALLOWED" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="INTG_EXTRA_STRING1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="INTG_EXTRA_STRING2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ISACTIVE" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_GUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_SID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_SAMACCOUNTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AD_DOMAIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CULTURE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USERADDED" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="USERMODIFIED" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEMODIFIED" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATEADDED" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GROUPS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Poll">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="timeLimit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:PollStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="publicResults" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:PollType" />
          <s:element minOccurs="0" maxOccurs="1" name="choices" type="tns:ArrayOfPollOption" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
        <s:attribute name="rid" type="s:int" use="required" />
      </s:complexType>
      <s:simpleType name="PollStatus">
        <s:restriction base="s:string">
          <s:enumeration value="open" />
          <s:enumeration value="apply" />
          <s:enumeration value="close" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PollType">
        <s:restriction base="s:string">
          <s:enumeration value="single" />
          <s:enumeration value="multi" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPollOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="choice" nillable="true" type="tns:PollOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PollOption">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="id" type="s:int" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RoomList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoomListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunCustomReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reportId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfReportParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReportParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportParameter" nillable="true" type="tns:ReportParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RunCustomReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="response" nillable="true" type="tns:WSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.perculus.com/api/v2/datatypes">
      <s:element name="xmlData">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:Attendance" />
  </wsdl:message>
  <wsdl:message name="AttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:AttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="AttendanceAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RoomListSoapIn">
    <wsdl:part name="parameters" element="tns:RoomList" />
  </wsdl:message>
  <wsdl:message name="RoomListSoapOut">
    <wsdl:part name="parameters" element="tns:RoomListResponse" />
  </wsdl:message>
  <wsdl:message name="RoomListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RunCustomReportSoapIn">
    <wsdl:part name="parameters" element="tns:RunCustomReport" />
  </wsdl:message>
  <wsdl:message name="RunCustomReportSoapOut">
    <wsdl:part name="parameters" element="tns:RunCustomReportResponse" />
  </wsdl:message>
  <wsdl:message name="RunCustomReportAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="ReportsSoap">
    <wsdl:operation name="Attendance">
      <wsdl:input message="tns:AttendanceSoapIn" />
      <wsdl:output message="tns:AttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoomList">
      <wsdl:input message="tns:RoomListSoapIn" />
      <wsdl:output message="tns:RoomListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunCustomReport">
      <wsdl:input message="tns:RunCustomReportSoapIn" />
      <wsdl:output message="tns:RunCustomReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportsSoap" type="tns:ReportsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Attendance">
      <soap:operation soapAction="http://tempuri.org/Attendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AttendanceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomList">
      <soap:operation soapAction="http://tempuri.org/RoomList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RoomListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunCustomReport">
      <soap:operation soapAction="http://tempuri.org/RunCustomReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RunCustomReportAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportsSoap12" type="tns:ReportsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Attendance">
      <soap12:operation soapAction="http://tempuri.org/Attendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AttendanceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomList">
      <soap12:operation soapAction="http://tempuri.org/RoomList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RoomListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunCustomReport">
      <soap12:operation soapAction="http://tempuri.org/RunCustomReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RunCustomReportAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reports">
    <wsdl:port name="ReportsSoap" binding="tns:ReportsSoap">
      <soap:address location="http://app.perculus.com/api/v2/reports.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportsSoap12" binding="tns:ReportsSoap12">
      <soap12:address location="http://app.perculus.com/api/v2/reports.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>